body{
    padding: 0;
    margin: 0;
    height: auto;
}

p{
    color: white;
    background-color: rgb(51, 0, 98);
    padding: 30px;
    font-size: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:initial;
}
.navbar h2{
    margin-right: 890px  ;
    color: aliceblue;

}

.navbar{   
    background-color: blue;
    display: flex;
    justify-content: end;
    width: 100%;
    object-fit: cover   ;  
}

.navbar a{
    color:aliceblue;
    /* padding jarak pada di dalam border */
    padding: 20px;
    /* margin jarak pada luar border */
    /* margin: 50px; */
    font-weight: bold;
    /* teks decoration none untuk menghilangkan garis dibawah teks */
    text-decoration: none;
    width: 5%;
}

.jumbotron{
    position: relative;
    overflow: hidden;
    height: 400px;
}
.jumbotron h2{
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    width: 1000px;
    padding-top: 50px;
    margin-left: 500px;
}
.jumbotron p{
    text-align: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px 100px;
    font-size: 20px;
    
}
.jumbotron img{
    position: absolute;
    width: 100% ;
    z-index: -3;
}
.intro{
    display: flex;
    box-shadow: 3px -3px 7px 0px darkblue;
    margin: 30px 30px 30px 30px;
    /* penggunaan urutan margin atas bawah kiri kanan */
    border-radius: 10px;
    z-index: 2 ;
}

.intro img{
    width: 600px;
    height: 400px;
    size: 20px;
    justify-content: left;
}

.intro p{
    text-align: center;
    display: flex;
    float: end;
    background-color: transparent;
    color: black;
    width: 600px auto;
    margin: 30px;
    margin-left: 200px;
    font-size: 25px;
}
.desc{
    padding: 10px;
}


footer {
    width: auto;
    display: flex;
    font-size: 30px;
    background: linear-gradient(rgb(0, 0, 146), rgb(87, 158, 182));
    text-align: center;
    justify-content: start;
    padding: 10px;
}

.picture {
    margin-top: 50px;
    margin-left: 230px;
    display: flex;
    justify-content: end;
    width: 500px;
    height: 100px;
}
.picture p{
    font-weight: bold;
    font-size: 27px;
    position: relative;
    bottom: 90px;
    left: 100px; 
    justify-content: flex-start;
    color: white;
    background-color: transparent;
    width: 200px;
}
.picture img{
    position: relative;
    right: 100px;
    width: 100px;
    padding: 20px;
    display: flex;
    float: right;
    width: 50px ;
}


.footer p{
    font-size: 25px;
    background-color:transparent;
    text-align: start;
    justify-content: start;
    width: 500px;
    padding: 50px;
    font-weight: bold;
}

.daftarfooter{
    position: relative;
    top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 260px;
    color: white;
    width: 500px auto;
    height: 150px;
}
.daftarfooter a{
    position: relative;
    top: 15px;
    font-size: 10px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.daftarfooter li{
    padding: 3px;
    list-style-type: none;
    width: 150px;
}